body{
    display: grid;
    grid-template-areas: 
    "cabeça cabeça cabeça"
     "braço corpo corpo"
     "pé pé pé ";
    grid-template-rows: 200px auto 300px;
    grid-template-columns: 200px auto auto;
}
header{
    grid-area: cabeça;
    background-color: rgb(7, 7, 7);
}

aside{
    grid-area: braço;
    background-color: rgb(239, 235, 243);
}

main{
    grid-area: corpo;
    background-color: rgb(205, 152, 230);
}

footer{
    grid-area: pé;
    background-color: rgb(210, 30, 171);
}

@media only screen and(max-width: 450px){
    body{
        grid-template-areas: "cabeça"
                             "corpo"
                             "pé";
        grid-template-columns: auto;
        grid-template-rows: 150px 50px 500px 200px;
    }
}

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    border: rgb(159, 98, 187) 2px solid;
    background-color: black;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

.img_card{
  width: 300px;
  height: auto;
}

.texto_card{
    color: brown;
    font-size: x-large;
}

.preço_card{
    color: aquamarine;
    font-size: xx-large;
}